In [2]:
#Determining type of a variable.

x = "Hello!"
y = 25
z = True
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'bool'>

In [3]:
#Types behave differently in Python.

x = 2
y = 5
x + y

7

In [4]:

x = 'ab'
y = 'cd'
x + y

'abcd'

In [6]:
#Type Conversions - convert string to float

pi_string = '3.14'
pi_float = float(pi_string)
print(pi_float)
print(type(pi_float))

3.14
<class 'float'>

In [ ]:
# Python lists can contain multiple data types. It can be a mix of strings, floats, even lists.

list1 = ["a","b","c"]
list2 = ["a", 3, 5, True, "cat"]
list3 = [[1,2],["a", "b"], [True, 1]]

In [7]:
# Subsetting lists
 #Zero based indexing (Element 1 == Index 0, Element 2 == Index 1 and so on)
 #Can select by negative indexing as well.
 #Can create subsets by slicing. In slicing, start is inclusive, but end is exclusive.
    
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50] 

# Element 2 : 11.25
print(areas[1])

# Second last element (negative indexing) : "bathroom"
print(areas[-2])

#Slicing : Elements 11.25 to "bedroom". 
print(areas[1:7])

#Slicing: All elements from "kitchen" and after including last element.
print(areas[2:])

#Slicing": All elements 
print(areas[::])

11.25
bathroom
[11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom']
['kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [9]:
#Subsetting list of lists - Same format as list. First index to select the sublist, followed by indexing within the sublist.

x = [[1,2,3],["A","B","C"], [100,200,300]]

#To select C -  Index of sublist: 1, Index of Element C in sublist: 2

print(x[1][2])

#To slice 100,200 : Select sublist : 2, Slicing within sublist: 0:2
print(x[2][0:2])

C
[100, 200]

In [1]:
#List manipulations

# replace elements

areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
#replace bathroom area to 7.8

areas[-1] = 7.8
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 7.8]

In [2]:
#add elements - add "poolspace", 17.5

areas = areas + ["poolspace", 17.5]
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 7.8,
 'poolspace',
 17.5]

In [6]:
#delete elements - delete "poolspace" and 17.5

del(areas[-1], areas[-1])
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom',
 7.8]

In [7]:
#Scope - Local and Global

num = 5

def func1():
    num =3
    print(num)
func1()

3

In [10]:
num = 5

def func2():
    global num
    num = 3
    print(num)
func2()

3

In [11]:
num

3

In [7]:
#Iterables and iterators
#Iterating over iterables.

flash = ['jay garrick', 'barry allen', 'wally west', 'bart allen']

#for loop method

for name in flash:
    print(name)
    
#generating an iterator

name = iter(flash)
print(next(name))
print(next(name))
print(next(name))
print(next(name))
print(next(name))

jay garrick
barry allen
wally west
bart allen
jay garrick
barry allen
wally west
bart allen

StopIteration:

In [9]:
#Iterators as function arguments

#Create a range object that would produce the values from 10 to 20 using range(). Assign the result to values.
values =range(10,20)

#Use the list() function to create a list of values from the range object values. Assign the result to values_list
values_list = list(values)

#Use the sum() function to get the sum of the values from 10 to 20 from the range object values.
#Assign the result to values_sum

values_sum = sum(values)

print(values_list)
print(values_sum)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
145

In [13]:
with open ('git.txt', 'r') as git:
    print(git.readline())
    print(git.readline())
    print(git.readline())

﻿Git ready in 20 minutes



When I began my journey towards Data Science, a close friend and mentor advised me to get familiarized with git. It seemed like a distraction, but I thought, “It’s a version control system. Surely I can learn in 2-3 days and return to the beautiful world of Python.” I couldn’t have been more wrong. My 2 days short trip away from Python turned into a 3-month vacation. I certainly do not regret the time spent, as there is no denying the importance of learning git. The significance of git for every programmer has been well described in several excellent blogs and I am not going to reiterate the same here.